// ==================================== //
// Color Settings
// ==================================== //
// NEW
$color-primary-5: #F3FBF7;
$color-primary-10: #E8F7F0;
$color-primary-20: #D0EFE1;
$color-primary-40: #A1DFC2;
$color-primary-60: #73CEA4;
$color-primary-80: #44BE85;
$color-primary-100: #15AE67;
$color-primary: #15AE67;

$color-gray-0: #FFFFFF;
$color-gray-5: #F4F4F4;
$color-gray-10: #E8E8E8;
$color-gray-20: #D2D2D2;
$color-gray-40: #A4A4A4;
$color-gray-60: #777777;
$color-gray-80: #4A4A4A;
$color-gray: #1D1D1D;

$color-success-5: #F6FDF7;
$color-success-20: #DBF7E0;
$color-success-40: #B8EFC1;
$color-success-60: #94E7A1;
$color-success-80: #4DD763;
$color-success: #2FAC43;

$color-error-5: #FFF3F3;
$color-error-10: #FEE8E8;
$color-error-20: #FED0D0;
$color-error-40: #FCA1A1;
$color-error-60: #FB7272;
$color-error-80: #F94444;
$color-error: #F81515;

$color-info-5: #F5FAFE;
$color-info-20: #D7EAFD;
$color-info-40: #AED6FA;
$color-info-60: #86C1F8;
$color-info-80: #3598F3;
$color-info: #0C66B9;

$color-orange: #FA983D;
$color-orange-40: #FDD6B1;

$color-warning: #f1f1c1;

$color-background-page: #F3F3F3;
$color-background-contact-page: #F8FBF8;
//font weight
$button-font-weight: 700;

$SM_Primary_5: #F2FBFC;
$SM_Primary_10: #E6F7FA;
$SM_Primary_20: #CCEFF4;
$SM_Primary_40: #99DFE9;
$SM_Primary_60: #00AFC9;
$SM_Primary_80: #00AFC9;
$SM_Primary: #00AFC9;

$validited: #FEE8E8;
$validited-20: #FFFACC;

$docomo: #CC0033;